#root {
  width: 100%;
}

.app {
  height: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 180px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100px;
  text-align: center;
}

label {
  text-align: center;
}